h1 {
    text-align: center;
 }

 button {
     text-align: center;
 }


 .choice {
     border: 5px;
     cursor: pointer;
     padding: 10px;
     background-color: blue;
     color: white;
     text-align: center;
 }

 #time {
     text-align: center
 }

 #game {
     text-align: center
 }
 body {
     background-image: url(http://www.seekgif.com/uploads/watch-live-all-sports-background-0.jpeg)
 }

 .jumbotron {

    margin-top: 100px;
 }



